* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: DarkSlateBlue;
  font-family: 'Silkscreen', cursive;
}

#myCanvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;    /* 100% */
  height: 100vh;   /* 100% */
}
